@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: whitesmoke;
  line-height: 1.5;
  background: 
  linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
  url(brewery.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body p {
  margin-top: 30px;
}

.hidden {
  display: none;
}

header {
  padding: 10px
}

header h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: -15px;
}

a {
  color:aliceblue;
}

ol {
  text-align: left;
}

form {
  margin-top: 10px;
  display: inline-block;
}

#map {
  height: 500px;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

@media all and (min-width: 600px) {
  .flex-container {
    flex-direction: row;
    padding: 0 20px 20px 20px 
  }
}



